<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/style.css" >

<title> Computer Vision Art Gallery : ICCV 2019 </title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5159448-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5159448-2');
</script>

</head>

<body>
<div class="container">

<header>

<div class="row">
<div class="col">
<h1>Computer Vision Art Gallery</h1>

<h2 class="subtitle" style="margin-bottom: 30px ">ICCV 2019, Seoul, Korea</h2>

<p>
In 2019, for the <a href="https://sites.google.com/view/cvcreative">Second
Workshop on Computer Vision for Fashion, Art and Design</a>, at the
International Conference on Computer Vision (ICCV) in Seoul, South Korea, a call was
put out for artworks dealing with computer vision technologies.

<p>Computer vision techniques have long been connected to the arts. From the study
of visual art with computer vision techniques, to the development of new vision
techniques based on insights from the arts community, to artwork generated
algorithmically, there is a rich history of exchange between the fields.

<p>In recent years the success of a new crop of generative models is creating
excitement and change in vision and graphics, and these new approaches to
creation have led to a rich community of artistic exploration as well, much of
which is happening in online visual culture. Many artists have incorporated
computer vision techniques into their artistic practice to explore novel ways of
representing the human form, experiment with datasets of their own drawings and
critique the machine’s ability to understand the world.

<p>Further, the outsized influence of computer vision techniques in socially
important areas such as healthcare, ubiquitous surveillance, autonomous
vehicles and robotics, and warfare makes a social and artistic engagement with
the field vital.

<p>Here we present works from 30+ artists from around the world, selected from an
open call by the organizers. Some of these works were selected for their
technical novelty, some for their aesthetic merit, some for their conceptual
contribution.

</div>
</div>

<div class="row">
<div class="col">
  <h2>Past Galleries</h2>
  <a href="2018">ECCV 2018, Munich</a>
</div>
</div>

</header>

<main>

<section>
<div class="row">
<div class="col">
<h2>Winner</h2>
</div>
</div>

<ul class="list-unstyled row pieces">
{{ range (sort (where (where .Site.RegularPages "Type" "pieces2019") "Params.listed" "winner") "Params.order") }}
{{ .Render "li" }}
{{ end }}

</ul>
</section>

<section>
<div class="row">
<div class="col">
<h2>Shortlist</h2>
</div>
</div>

<ul class="list-unstyled row pieces">
{{ range (sort (where (where .Site.RegularPages "Type" "pieces2019") "Params.listed" "short") "Params.order") }}
{{ .Render "li" }}
{{ end }}

</ul>
</section>

<section>
<div class="row">
<div class="col">
<h2>All Accepted Works</h2>
</div>
</div>

<ul class="list-unstyled row pieces">
{{ range (where (where .Site.RegularPages "Type" "pieces2019") "Params.listed" nil) }}
{{ .Render "li" }}
{{ end }}
</ul>
</section>

<div class="row" style="margin-bottom: 30px">
	<div class="col">
		<h2>Organizers</h2>
		<p>The 2019 ICCV Computer Vision Art Gallery was organized by <a href="http://elluba.com/">Luba Elliott</a>
			and <a href="https://wxs.ca">Xavier Snelgrove</a>.

      <p>The gallery was part of the <a href="https://sites.google.com/view/cvcreative">Second
      Workshop on Computer Vision for Fashion, Art and Design</a>, which was organized by
      <a href="https://mila.quebec/en/person/negar-rostamzadeh/">Negar Rostamzadeh</a>,
      <a href="https://www.spacewu.com/">Hui Wu</a>,
      Ping Luo,
      <a href="https://research.zalando.com/welcome/team/julia-lasserre/">Julia Lasserre</a>,
      <a href="http://wxs.ca">Xavier Snelgrove</a>,
      <a href="http://adas.cvc.uab.es/dvazquez/">David Vazquez</a>,
      <a href="https://www.linkedin.com/in/tboquet/">Thomas Boquet</a>,
      Yuying Ge,
      <a href="http://www.statfe.com/">Wayne Zhang</a>,
      <a href="https://research.zalando.com/welcome/team/leonidas-lefakis/">Leonidas Lefakis</a>,
      Ruimao Zhang,
      <a href="http://wzhang.fun/">Wei Zhang</a>, and
      Reza Shirvany
  </div>
</div>


{{ partial "footer2019.html" }}

</main>

</div>
</body>
