<footer>
<div class="row">
	<div class="col">
		<h2 id="sponsorheader">Gallery sponsors</h2>
	</div>
</div>

<div class="row">

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 sponsor">
<a href='http://elementai.com'>
<img class='sponsorimg' src='{{ "/sponsors/elementai.png" | relURL }}' alt='Element AI' />
</a>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 sponsor">
<a href='https://research.adobe.com/'>
<img class='sponsorimg' src='{{ "/sponsors/adobe.png" | relURL }}' alt='Adobe Research' />
</a>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 sponsor">
<a href='http://www.research.ibm.com/'>
<img class='sponsorimg' src='{{ "/sponsors/ibmresearch.png" | relURL }}' alt='IBM Research' />
</a>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 sponsor">
<a href='https://research.zalando.com/'>
<img class='sponsorimg' src='{{ "/sponsors/zalando.png" | relURL }}' alt='Zalando' />
</a>
</div>

</div>
</footer>

